.logo a{
  text-decoration: none;
}
.logo a .color-logo{

  color: black;
  font-size: 45px;
  font-family: cursive;
  text-shadow:
-1px 0px 0px white,
1px 0px 0px white,
0px -1px 0px white,
0px 1px 0px white, 2px 2px white;
}

.logo a  .color-logo1{
  
  text-shadow:-1px 0px 0px white,
  1px 0px 0px white,
  0px -1px 0px white,
  0px 1px 0px white, 2px 2px white;

color: black;
  font-size: 35px;
  font-family: cursive;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
@media (max-width: 800px) {
  .box{
    border: 2px solid rgba(10, 66, 122, 0.17) ;
    
    background-color: rgba(1, 13, 25, 0.215) ;
    height: 210px;
    position: absolute;
    width: 100%;
  
    
    
  }
  
  .footer-text{
    font-size: 15px;
    font-family: "Inconsolata", Sans-serif;
    color: #060111;
    margin-top:5%;
   text-align: center;
   margin-right: 5%;
  
  }
  
  .footer-text1{
    font-size: 15px;
    font-family: "Inconsolata", Sans-serif;
    color: black;
    margin-top:4%;
    text-align: center;
    word-spacing: 8px;
    margin-right: 8%;
    
  }
  
  .footer-icon{
   
    text-decoration: none;
  
    
  
   
  }

  .footer-icon img{
   align-items: center;
   justify-content: center;
   align-self: center;
 margin-left:35px;
    width: 40px;
    height: 40px;
 
  }
  
  .hamburger-menu a{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
margin-right: 25px;
margin-top:15px;
    font-size: 50px;
    cursor: pointer;
    color: black;
    
  
  }
  .hamburger-menu a:hover{

    color: black;
    
  
  }
  .mobile-menu-link{

  display: none;

}

.menu-link{
 
  background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
    background-size:cover;
          -webkit-animation: slidein 100s;
          animation: slidein 100s;
  
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  
          -webkit-animation-direction: alternate;
          animation-direction: alternate;
          background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
          border-top: 1pxsolid #fff;
 
  
          width: 100%;
     
          opacity: 1;
          list-style: none;
          position: absolute;
          top: 100%;
          left: 0;
          display: flex;
          flex-direction: column;
          
          left: 0px;
        
        
          transition: all 0.5s ease;
        
          text-decoration: none;
          display: flex;
          list-style-type: none;
}

  .navbar {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
    background-size:cover;
          -webkit-animation: slidein 100s;
          animation: slidein 100s;
  
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  
          -webkit-animation-direction: alternate;
          animation-direction: alternate; 
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #fff;
    height: 110px;
    padding: 15px ;
    
}
@-webkit-keyframes slidein {
  from {background-position: top; background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  }
  
  @keyframes slidein {
  from {background-position: top;background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  
  }
.nav-links {
   text-align: center;
   align-items: center;
    list-style: none;

   width: 100%;
}

.nav-links li {

    margin: 0px;
    font-size: 25px;
    font-family: serif ;
    text-align: justify;
   
    text-decoration: none;
    color: black;
    margin-top: 20px;
   
   


}

.nav-links li .navbar-link {
    font-size: 25px;
    
    padding-top: 10px;
    text-decoration: none;
    color: black;
   
}
.nav-links li .nav-icon .navbar-icon{
    max-width: 35px;
    max-height: 35px;
    display: none;
}
.nav-links li .nav-icon1 .navbar-icon1{
    width: 40px;
    display: none;
    height: 40px;
}
/* .nav-links a:hover {
    text-decoration: underline;
       
      }
   */
   .logo a{
  

    z-index: 9999;
  
 margin-left: 15px;
    text-shadow:
    -1px 0px 0px white,
    1px 0px 0px white,
    0px -1px 0px white,
    0px 1px 0px white, 2px 2px white;
 
    text-align: justify;
    font-size: 25px;
    font-family:  cursive;
    color: black;
   
   
   }
   .nav-links .navbar-link::after {
    content: '';
    display: block;
    height: 1.5px;
    background: #060111;
    transform: scaleX(0);
    transition: transform .3s;
  }
  
  .nav-links .navbar-link:hover::after{
    width: 100%;
    left: 0;
    animation: underline 0.3s forwards;
  }
  .nav-links a:active::after{
    width: 100%;
    left: 0;
    animation: underline 0.3s forwards;
  }
  
  @keyframes underline {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }
      
      
}  
      
@media (min-width: 800px) {
  .navbar {
    position: sticky;
    top: 0;
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
    background-size:cover;
          -webkit-animation: slidein 100s;
          animation: slidein 100s;
  
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  
          -webkit-animation-direction: alternate;
          animation-direction: alternate; 
    background-attachment: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #fff;
    height: 90px;
    padding: 0 80px;
    width: auto;
    position: fixed;
   
  
    z-index: 999;
   
}
@-webkit-keyframes slidein {
  from {background-position: top; background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  }
  
  @keyframes slidein {
  from {background-position: top;background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  
  }
  
  .hamburger-menu{
    display: none;
  }
    .nav-links {
        display: flex;
        padding-right: 50px;


  list-style: none;
  margin-top: 20px;
 
}

.nav-links li {
  margin: 0 10px;
  font-size: 25px;
  font-family: serif ;
  text-align: justify;
 
  text-decoration: none;
  color: black;
 
 


}

.nav-links li .navbar-link {
  font-size: 20px;

  padding-top: 10px;
  text-decoration: none;
  color: black;
 
}
.nav-links li .navbar-link1{
  font-size: 20px;

  padding-top: 10px;
  text-decoration: none;
  color: black;
 
}
.nav-links li .navbar-link2 {
 
 display: none;
}

.nav-links li .nav-icon .navbar-icon{
  max-width: 35px;
  max-height: 35px;
}
.nav-links li .nav-icon1 .navbar-icon1{
  width: 30px;
  
  height: 30px;
}
/* .nav-links a:hover {
  text-decoration: underline;
     
    }
 */
 .logo a{
  position: sticky;
  text-shadow:
  -1px 0px 0px white,
  1px 0px 0px white,
  0px -1px 0px white,
  0px 1px 0px white, 2px 2px white;
  margin: 120px;
  text-align: justify;
  font-size: 25px;
  font-family: cursive;
  color: black;
 }
 .nav-links .navbar-link::after {
  content: '';
  display: block;
  height: 1.5px;
  background: #060111;
  transform: scaleX(0);
  transition: transform .3s;
}

.nav-links .navbar-link:hover::after{
  width: 100%;
  left: 0;
  animation: underline 0.3s forwards;
}
/* .nav-links :active::after{
  width: 100%;
  left: 0;
  animation: underline 0.3s forwards;
} */
.nav-links .navbar-link1::after {
  content: '';
  display: block;
  height: 1.5px;
  background: #060111;
  transform: scaleX(0);
  transition: transform .3s;
}

.nav-links .navbar-link1:hover::after{
  width: 100%;
  left: 0;
  animation: underline 0.3s forwards;
}
.nav-links .navbar-link2::after {

  display: none;
}

.nav-links .navbar-link2:hover::after{
 
  display: none;
}
/* .nav-links :active::after{
  width: 100%;
  left: 0;
  animation: underline 0.3s forwards;
} */
@keyframes underline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.box{
  border: 2px solid rgba(10, 66, 122, 0.17) ;
  
  background-color: rgba(1, 13, 25, 0.215) ;
  height: 130px;
  position: absolute;
  min-width: 100vw;
  
}

.footer-text{
  font-size: 15px;
  font-family: "Inconsolata", Sans-serif;
  color: #060111;
  margin-top:3%;
  margin-left: 15%;

}

.footer-text1{
  font-size: 15px;
  font-family: "Inconsolata", Sans-serif;
  color: black;
  margin-top:4%;
  margin-left: 12%;
  word-spacing: 8px;
}

.footer-icon{
  padding: 0 10px;
  text-decoration: none;

  

 
}
.footer-icon img{
 
 
  width: 40px;
  height: 40px;
 
}

}