@media (min-width: 800px) {
.popup {
    position: fixed;
    top: 79%;
    right: 0;
    margin-right: 2px;
    height: 100px;
    width: 20%;
    transform: translateY(-50%);
    background-color: #62cfc1;
    border: 1px 1px 4px 4px solid #62cfc1;
    border-radius: 25px 10px;
    padding: 10px;
    color: white;
    z-index:999;
    box-shadow: 0px 2px 2px #62cfc1;
    font-family: 'Courier New', Courier, monospace;
  
  }
 
  
  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
  @media (max-width: 800px) {
    .popup {
       display: none;
        
      }
      .close-btn {
        display: none;
      }
  }